@import 'tailwindcss';

@theme {
	--breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1440px;

	--font-sans: 'Geist Variable', 'sans-serif';
	--font-serif: 'Source Serif 4 Variable', 'serif';

	--color-gray-100: #f5f5f5;
	--color-gray-200: #e6e6e6;
	--color-gray-300: #d9d9d9;
	--color-gray-400: #b3b3b3;
	--color-gray-500: #757575;
	--color-gray-600: #444444;
	--color-gray-700: #383838;
	--color-gray-800: #2c2c2c;
	--color-gray-900: #1e1e1e;

	--color-background: #000000;
	--color-foreground: #f8f8f8;
}

@layer base {
	/* style of the body */
	/* prettier-ignore */
	body {
		position: relative;
		background-color: var(--color-background);
		color: var(--color-foreground);
		font-family: var(--font-sans);
		font-size: 1rem;
		font-optical-sizing: auto;
	}

	/* style of the text components */
	/* prettier-ignore */
	article {
		@apply mx-auto max-w-[400px] mt-[4rem] mb-[2rem]
					flex flex-col gap-[1rem] 
					sm:max-w-[600px]
					md:max-w-[750px];
	}

	/* prettier-ignore */
	p {
		@apply text-[1rem] leading-[1.5rem] tracking-[-0.011rem] font-[400]
					 sm:text-[1.125rem] sm:leading-[1.5rem] sm:tracking-[-0.014rem];
	}
}

/* style of the grid on page 12 */
/* prettier-ignore */
@utility grid-ctn {
	@apply grid grid-cols-4 mx-[2rem] gap-x-[1rem] gap-y-[2px] max-w-[1440px] 
					sm:grid-cols-8 sm:mx-[3rem] 
					md:gap-x-[1.5rem]
					lg:grid-cols-12 
					xl:mx-auto;
}

/* prettier-ignore */
@utility italic-serif {
  @apply font-serif text-[1.125rem] italic 
         sm:text-[1.25rem];
}
